.login-main{
    margin-top: 80px;
    margin-bottom: 82px;
    @include pad{
        margin-top: 40px;
        margin-bottom: 106px;
    }
    &-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include pad{
            margin-top: 28px;
        }
    }
    input{
        color:$secondary-dark;
    }
    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            display:block;
        }
        .buttons{
            display: flex;
        }

    }


}